@import "bulma-fluent/bulma.sass";

:root {
  background-color: hsl(0, 0%, 4%);
}

*:link:hover {
  text-decoration: underline;
}

.navbar-item:hover,
.navbar-item:active {
  background-color: hsl(0, 0%, 4%) !important;
}

.navbar.is-black .navbar-start > .navbar-item,
.navbar.is-black .navbar-start .navbar-link,
.navbar.is-black .navbar-end > .navbar-item,
.navbar.is-black .navbar-end .navbar-link {
  color: white;
}
