:root {
  background-color: black;
  overflow-y: hidden;
}

a:hover {
  text-decoration: underline !important;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-menu {
  font-weight: 200;
}

article {
}