.logo {
  text-decoration: none !important;
  user-select: none;
  font-weight: 400;
  text-shadow: 0 0 2em #f1f1f1;
}

.menu {
  font-weight: 200;
}

.title {
  text-shadow: 0 0 0.5em white !important;
}
