@import "bulma/sass/utilities/mixins.sass";

.section {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 50vh;
  overflow: visible;
}

.columns {
  margin: 0;
  width: 100%;
}

$height: 75vh;

.ca {
  overflow: visible;
  user-select: none;
  line-height: 1em;
  text-shadow: none;
  @include tablet {
    height: $height;
    font-size: 10vw;
  }
  @include mobile {
    font-size: 15vw;
  }
  transition: text-shadow 5s;
}

.ca:hover {
  text-shadow: 0 0 12em white;
  transition: text-shadow 5s;
}

.formFather {
  @include tablet {
    height: $height;
  }
  @include mobile {
    width: 100%;
  }
}

.form {
  @include tablet {
    height: min-content;
  }
}

.input {
  background-color: transparent;
  color: white;
  border: white solid;
  border-width: 0 0 0.02em 0;
  outline: none;
  @include tablet {
    width: 25vw;
    font-size: 1em;
    line-height: 3em;
  }
  @include mobile {
    width: 75vw;
    line-height: 3em;
  }
}

.input:focus {
  border: white solid;
  border-width: 0 0 0.1em 0;
  transition: all 0.1s;
}
