@import "bulma/sass/utilities/mixins.sass";

.login {
  z-index: 0;
  height: 100%;
  bottom: 0;
}

.input {
  background-color: transparent;
  color: white;
  border: white solid;
  border-width: 0 0 0.02em 0;
  outline: none;
  @include tablet {
    width: 5em;
  }
}

.submit {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.submit:hover {
  text-decoration: underline;
}
